<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="First test suite" thread-count="5" parallel="methods">
    <test name="Positive tests">
        <classes>
            <class name="PositiveTests"></class>
            <class name="NegativeTests"></class>
        </classes>
    </test>
</suite>